%dl.row
  %dt.col-sm-2= "ID"
  %dd.col-sm-10= "##{model[:id]}"

  %dt.col-sm-2= "Type"
  %dd.col-sm-10= "#{model[:type]}"

  %dt.col-sm-2= "Title"
  %dd.col-sm-10= "#{model[:title]}"

  %dt.col-sm-2= "Surface"
  %dd.col-sm-10= "#{model[:surface]}"

  %dt.col-sm-2= "Price"
  %dd.col-sm-10= "#{model[:price]}"

  %dt.col-sm-2= "Description"
  %dd.col-sm-10= "#{model[:description]}"

  %dt.col-sm-2= "URL"
  %dd.col-sm-10= "#{model[:url]}"

  %dt.col-sm-2= "Sold"
  %dd.col-sm-10= model[:sold].to_b ? 'Yes' : 'No'

  %dt.col-sm-2= "Future"
  %dd.col-sm-10= model[:future].to_b ? 'Yes' : 'No'