.row
  .col-12
    = haml :place_form, locals: {model: Place.new}
.row
  .col-12
    %table.table
      %thead
        %tr
          %th Id
          %th Type
          %th Title
          %th Surface
          %th Price
          %th Description
          %th URL
          %th Sold
          %th Future
          %th Actions
      %tbody
        - places.each do |place|
          %tr
            %td= h(place[:id])
            %td= h(place[:type])
            %td= h(place[:title])
            %td= h(place[:surface])
            %td= h(place[:price])
            %td= h(place[:description])
            %td= h(place[:url])
            %td= place[:sold] ? 'Yes' : 'No'
            %td= place[:future] ? 'Yes' : 'No'
            %td
              %a{href: url("/places/#{place[:id]}/edit")} Edit
